<div class = "mx-auto" style="width: 800px;">
  <div id = 'container'>

    <h1>Pick your lovely friend</h1>
    <br>

    <!-- Search Bar-->
<!--    <%= form_tag pets_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search a Pet Type. E.g. Cat, Dog, etc." %>
      <br>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <br> -->

    <%= render 'shared/filter_category'%>



    <!-- Results from Search Bar-->
    <% if  params[:query].present? && params[:query] != "" %>
      <h3> Results for <%= params[:query] %></h3>
      <%= render @pets %>

    <% else %>
      <%= render @pets.all %>
    <% end %>

  </div>

 </div>
