<br>
<div class = "mx-auto" style="width: 500px;">
  <h1>Profile </h1>
  <%= cl_image_tag current_user.photo.key, height: 300, width: 400%>

  <p><b>Name: </b><%= current_user.name %></p>
  <p><b>Email Address: </b><%= current_user.email %></p>
  <p><b>Region: </b><%= current_user.region.name %></p>
  <p><b>Phone Number: </b><%= current_user.phone_number %></p>
  <p><b>Pets:</b><p>
    <% @pet.each do |pet|%>
    <li>Name : <%= pet.name %><br>
      Price per hour : <%= pet.price_per_hour %></li>
      <% end %>
      <br>
      <p><b>Reviews:</b></p>
      <!-- name of reviewer -->

<% @users_who_left_reviews.each do |user| %>
  <p><%= user.name %></p>
        <% end %>

      <% @reviews.each do |review| %>
      <li>Rate : <%= review.rating %> <br>
        Description : <%= review.description %></li>
        <% end %>




