<%= form_with(url: "/pets", method: "get", local: true, class: 'category_form') do %>
  <% @categories.each do |category| %>
    <%= label_tag("animal_type_#{category.animal_type}".to_sym) do %>
      <%= radio_button_tag :animal_type, category.animal_type, "", class: "radio" %>
      <%= cl_image_tag category.photo.key, class: "picture" %>
      <p class="text"><%= category.animal_type %></p>
      <% end %>
    <% end %>
  <br>
  <%= submit_tag "Search", class: "search btn btn-primary" %>
  <%= link_to "All pets", pets_path, class: "btn btn-light btn-sm"%>
<% end %>
