<br>
<div class = "mx-auto" style="width: 400px;">

<h2><b>Create a new review</b></h2>

<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "List your pet!", class: "btn btn-primary"%>
<% end %>
</div>
<br>
